<header>
    <div class="header">
        <div class="header__logo">{{ name[1][0] }}<span>{{ name[1][1] }}</span>{{ name[1][2] }}</div>

        <nav class="header__tab" role="tablist">
            <a class="header__tab__button" data-tab="0" role="tab" href="/">Главная</a>
            <a class="header__tab__button" data-tab="1" role="tab" href="/documentation">Документация</a>
            <a class="header__tab__button" data-tab="2" role="tab" href="/service">Услуги</a>
        </nav>
    </div>
</header>
