<!DOCTYPE html>
<html lang="$LANGUAGE$">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ name[0] }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        %HEADER%

        <main>
            <h1 class="main__title">{{ name[3][0] }}<span>{{ name[3][1] }}</span> - Сообщество</h1>
            <p class="main__subtitle">Установите программу за пару минут и составьте первое расписание</p>

            <div class="main__card">
                <h3 class="main__card__text">Сообщество</h3>
                <p class="main__card__subtext">Мы приветствуем вклад сообщества: сообщения об ошибкам, предложения по улучшению, новые идеи</p>

                <div class="main__card__div">
                    <ul>
                        <li>Telegram канал: <a href="...">...</a></li>
                    </ul>
                </div>
            </div>
        </main>

        %FOOTER%
    </body>
</html>
