<!DOCTYPE html>
<html lang="$LANGUAGE$">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ name[0] }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        %HEADER%

        <main>
            <h1 class="main__title">{{ name[3][0] }}<span>{{ name[3][1] }}</span> - Установка</h1>
            <h2 class="main__subtitle">
                Установите программу за пару минут и составьте первое расписание
            </h2>

            <div class="main__card">
                <h3 class="main__card__text">Скачать {{ name[3][0] }}<span>{{ name[3][1] }}</span> - Бесплатная версия</h3>
                <h4 class="main__card__subtext">{{ name[3][0] }}{{ name[3][1] }} - современная программа для составления расписания уроков для школ, лицеев и колледжей. Автоматическое составление расписания позволяет создать сложное расписание всего за считанные минуты без конфликтов</h4>

                <div class="main__card__div">
                    <div class="main__card__div__element">
                        <img src="{{ url_for('static', filename='img/download/windows.svg') }}" alt="icon" class="main__card__div__element__icon">
                        <div class="main__card__div__element__div">
                            <p class="main__card__div__element__div__title">Windows 10 & 11</p>
                            <p class="main__card__div__element__div__subtitle">Портативная версия: <a href="https://github.com/artyom7774/Schedule/releases/download/v1.0.0/Schedule.zip">https://github.com/artyom7774/Schedule/releases/download/v1.0.0/Schedule.zip</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        %FOOTER%
    </body>
</html>
