<header>
    <div class="header">
        <div class="logo">{{ name[1][0] }}<span>{{ name[1][1] }}</span>{{ name[1][2] }}</div>

        <nav class="header__tab" role="tablist">
            <button class="header__tab__button active" data-tab="home" role="tab">Главная</button>
            <button class="header__tab__button" data-tab="about" role="tab">О нас</button>
            <button class="header__tab__button" data-tab="services" role="tab">Услуги</button>
            <button class="header__tab__button" data-tab="contacts" role="tab">Контакты</button>
        </nav>
    </div>
</header>
